<span class="favorite">
  <% if recipe.favorited_by?(current_user) %>
    
      <%= link_to recipe_favorites_path(recipe), method: :delete, class:"favorite__link" do %>
        <i class="fas fa-heart favorite__icon"></i><%= recipe.favorites.count %>
      <% end %>
    
  <% else %>
    
      <%= link_to recipe_favorites_path(recipe), method: :post, class:"favorite__link" do %>
        <i class="far fa-heart favorite__icon"></i><%= recipe.favorites.count %>
      <% end %>
    
  <% end %>
</span>