<div class="recipe-contents__header-heading">
  <h2 class="recipe-contents__heading-title">Edit</h2>
</div>

<div class="new-recipe">
  <%= form_with model:@recipe, local: true, class:"new-recipe__form" do |f| %>
    <div class="new-recipe__left-form">
      <%= render 'form', recipe: @recipe, taist: @taist, f: f %>

      <div class="new-recipe__submit-wrapper">
        <%= f.submit 'Update Recipe', class:"new-recipe__update-btn" %>
        <i class="fas fa-mug-hot new-recipe__icon"></i>
      </div>
    </div>
  <% end %>
</div>