<div class="header-heading">
  <h2 class="header-heading__title">Recipes</h2>
</div>

<div class="recipe-contents">
  <div class="recipe-contents__wrapper">
    <h2 class="recipe-contents__heading"><%= @user.name %>'s Recipes</h2>
    <div class="recipe-contents__main">
      <% @recipes.each do |recipe| %>
        <%= render 'recipes/index', recipe: recipe %>
      <% end %>
    </div>
  </div>
  <div class="profile">
    <%= render 'users/profile', user: @user %>
    <%= link_to '退会する', confirmation_user_path(@user), class:"profile__user-d-btn" %>
  </div>
</div>

