<div class="header-heading">
  <h2 class="header-heading__title">About</h2>
</div>

<div class="about-contents">
    <h3 class="about-contents__heading">PourPour <span class="about-contents__span">とは?</span></h3>
    <p class="about-contents__text">
      PourPourはコーヒーのペーパドリップ専門のレシピサイトです。</br>
      あなたのお気に入りのレシピを見つけて、より豊かなコーヒーライフを送りましょう。
    </p>

</div>