<div class="about-contents">
  <div class="about-contents__wrapper">
     <h3 class="about-contents__heading">KamiDori <span class="about-contents__span">とは?</span></h3>
    <p class="about-contents__text">
      KamiDoriはコーヒーのペーパードリップ専門のレシピサイトです。</br>
      あなたのお気に入りのレシピを見つけて、より豊かなコーヒーライフを送りましょう。
    </p>
    <div class="about-contents__img-wrapper">
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
      <div class="about-contents__img"></div>
    </div>
  </div>
</div>