@import 'variables';

.comment {



  &__wrapper {
    @include flex-space;

  }

  &__index {
    background: #fff;
    padding: 20px 10px;
    border-radius: 5px;
  }

  &__img-wrapper {
    width: 20%;
  }

  &__user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &__contents {
    width: 75%;
  }

  &__text {
    word-break: break-word;
  }

  &__text-area {
    border: 1px solid #f0cfa3;
    width: 100%;
    border-radius: 5px;
    background: #fff;
  }

  &__submit {
     display: block;
    width: 30%;
    margin-left: auto;
    margin-top: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(133, 45, 15, 0.8);

    &:hover {
      background-color: rgba(133, 45, 15, 1);
    }

  }

  &__detail {
    border-top: 1px dotted #d2c8be;
    padding-top: 5px;
    margin-top: 5px;
    text-align: right;
  }

  &__btn-destroy {
    color: red;
  }
}