@import 'variables';

.follow {
  @include wrapper;
  @include flex-space;
  @include background;
  padding-bottom: 320px;



  &__wrapper-wrapper {
    width: 65%;
    background: #fff;
    color: #797a7e;

    & div:nth-last-of-type(2) {
        border: none;
      }

  }

  &__heading {
    @include heading-border;
    margin-bottom: 0;
    display: inline-block;
    padding-right: 5%;
  }

  &__wrapper {
     @include flex-space;
     padding: 30px 0 10px 10px;
     transition: all .5s;
     border-bottom: 1px solid;

     &:hover {
        background: #895904;;
        color: #fff;
      }


  }

  &__img-wrapper {
    width: 25%;
  }

  &__img {
    border-radius: 50%;
    width: 80%;
    height: 120px;
  }

  &__contents {
    width: 70%;
    margin-bottom: 20px;
  }

  &__contents-wrapper {
    @include flex-space;
  }

  &__name-wrapper {
    width: 40%;
  }

  &__details {
    width: 55%;
  }

  &__alert {
    color: red;
    margin: 20px 0;
  }

  &__zero-link {
    background: #db9375;
    color: #fff;
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 30px;
  }
}

@media screen and (max-width: 425px) {
  .follow {
    display: block;


    &__wrapper-wrapper {
      width: 100%;
    }
  }


}