@import 'variables';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0 4%;
  background: #432;
  text-align: center;
  padding: 15px 0;


  &__link-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px auto 0;
  }

  &__link {
    color: #fff;
    border: 1px solid #fff;
    padding: 2px 30px;

    &:hover {
      background: #fff;
      color: #432;
    }
  }

  &__copy {
    color: #fff;
    font-size: 1.0rem;
    margin-top: 10px;
  }

  &__phone-flex {
    display: flex;
    justify-content: center;
  }

  &__phone-wrapper {
    width: 40%;
  }

  &__phone-border {
    border: 2px solid black;
    width: 175px;
    height: 300px;
    color: grey;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;

  }

  &__small-round {
    width: 5px;
    height: 5px;
    margin: 0 auto;
    background: grey;
    border-radius: 50%;
    margin-top: 5px;
  }

  &__line-round-wrapper {
    display: flex;
    justify-content: center;
  }



  &__line {
    width: 30px;
    height: 3px;
    background: grey;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: grey;
      position: absolute;
      left: -20px;
      top: -4px;
    }

  }

  &__phone-screen {
    border: 2px solid;
    width: 90%;
    margin: 0 auto;
  }

  &__icon-wrapper {
    display: flex;
    font-size: 0.6rem;
  }

  &__battery {
    margin-left: auto;
  }

  &__site-img {
    width: 153px;
    height: 245px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    background-image: image-url('responsive.png');
  }

  &__phone-comment {
    width: 40%;
    color: #fff;
    text-align: left;
  }

  &__comment-heading {
    border: 1px solid;
    display: inline-block;
    padding: 3px 10px;
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 5px;
  }

  &__title {
    text-align: right;
    margin-top: 10px;
    font-size: 3.0rem;
    font-family: 'Corinthia', cursive;
  }


}

@media screen and (max-width: 485px) {
  .footer {
    &__link-wrapper {
      flex-direction: column;
    }

    &__link {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  }

}


