.kaminari {
  &__wrapper {
   margin: 15px 0 0 35%;
  }


  &__current {
    color: #895904;
    background: #ffffff;
    text-align: center;
    width: 50px;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    border-radius: 60px;
    font-weight: bold;
    text-decoration: none;
  }


}

.pagination>span>a {
    color: #895904;
    /*文字の色を変える*/
    margin: 0 5px;
}

@media screen and (max-width: 485px) {
  .kaminari {

    &__wrapper {
      margin: 0 auto;
    }
  }
}

