@import 'variables';


.recipe-new-top {
  background: #fff;
  width: 95%;
  padding-bottom: 10px;
  margin-bottom: 30px;



  &__title-wrapper {
    @include flex-space;
    padding: 10px;
  }

  &__title {
    @include heading-border;
    padding-right: 5%;
    display: inline-block;
    font-family: serif;
  }

  &__link-wrapper {
    height: 40px;
    line-height: 40px;
  }

  &__link {
    color: #fff;
    background: #9d5638;
    padding: 0 10px;
    border-radius: 20px;
    vertical-align: middle;
  }

  &__contents-wrapper {
     display: flex;
     justify-content: space-around;
  }

  &__items {
    width: 30%;
    height: 420px;
    background: #fff;
    position: relative;
    color: #797a7e;
    position: relative;
    transition: 0.5s;
    &:hover {
      background: #895904;;
      color: #fff;
    }
  }


  &__favorite-btn {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__recipe-img {
    width: 100%;
    height: 230px;
    border-radius: 0 50px 0 50px;
  }


  &__user-img {
    position: absolute;
    top: 200px;
    left: 70%;
    width: 60px;
    height: 62px;
    border-radius: 50%;
  }

  &__items-container {
    width: 80%;
    margin: 20px auto 0;
  }

  &__bean-tit {
    font-size: 1.9rem;
    font-family: 'Corinthia', cursive;
    color: black;
    margin-bottom: 10px;
  }

   &__tool-icon-wrapper {
    @include flex-space;
  }

  &__coffee-details {
    width: 70%;
  }



  &__bean {
    font-size: 1.0rem;
    margin-left: 10px;
    font-family: serif;
  }

  &__tool {
    font-size: 0.7rem;
  }

   &__roast {
    font-size: 0.7rem;
    margin-bottom: 15px;
  }

   &__user-name {
    font-size: 0.8rem;
    margin-left: 5px;
  }



  &__date-wrapper {
    margin-top: 25px;
    height: 50px;
    width: 25%;
    font-size: 0.8rem;
    border: 2px solid;
    text-align: center;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .recipe-new-top {
    &__roast {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .recipe-new-top {
     &__contents-wrapper {
      & .recipe-new-top__items:nth-last-of-type(1) {
        display: none;
      }
    }

    &__items {
      width: 45%;
    }
  }
}

@media screen and (max-width: 425px) {
  .recipe-new-top {
    width: 100%;

    &__user-img {
      left: 65%;
      width: 50px;
      height: 50px;
    }

  }
}
