@import 'variables';

.recipe-show {
  @include wrapper;
  @include flex-space;
  margin-bottom: 50px;

   &__content {
    width: 74%;

  }

  &__wrapper {
    @include flex-space;
    position: relative;

  }

  &__wrapper-left {
    width: 40%;

  }

  &__img {
    width: 90%;
    height: 250px;
  }

  &__favorite {
    position: absolute;
    top: 213px;
    left: 28%;

    & a {
      font-size: 1.0rem;
    }
  }

  &__wrapper-right {
    width: 60%;
  }

  &__recipe-heading {
    @include heading-border;
    display: inline-block;
    font-size: 1.2rem;
  }

  &__table {
    border-collapse: collapse;
  }

  &__table-row {

  }


  &__recipe-items-tit {
    width: 50%;
     border-bottom: 1px solid black;
     padding: 4px;

  }

  &__recipe-items {
    width: 50%;
     border-bottom: 1px solid black;
  }

  &__recipe-introduction {
    margin-bottom: 30px;
  }

  &__chart-heading {
    @include heading-border;
    font-size: 1.2rem;
    display: inline-block;
  }

  &__chart {
    width: 65%;

  }
}