@import 'variables';

.recipe-contents {
  @include wrapper;
  @include flex-space;
  @include background;
  padding-bottom: 500px;
  max-width: 1400px;

  &__search-icon-wrapper {
    display: none;
  }

  &__header-heading {
    position: absolute;
    top: 100px;
    left: 37%;
  }

  &__heading-title {
    @include title;
    font-size: 5rem;
    color: #fff;
  }

  &__wrapper {
    width: 74%;
  }

  &__heading {
    @include heading-border;
    display: inline-block;
    padding: 0 8px 3px;
    margin-bottom: 20px;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

  }

  &__items {
    width: 30%;
    height: 430px;
    background: #fff;
    position: relative;
    color: #797a7e;
    position: relative;
    transition: 0.5s;
    &:hover {
      background: #895904;;
      color: #fff;
    }
  }


  &__favorite-btn {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__recipe-img {
    width: 100%;
    height: 230px;
    border-radius: 0 50px 0 50px;
  }

  &__user-img {
    position: absolute;
    top: 200px;
    left: 70%;
    width: 60px;
    height: 62px;
    border-radius: 50%;
  }

  &__items-container {
    width: 80%;
    margin: 20px auto 0;
  }

  &__bean-tit {
    font-size: 1.9rem;
    font-family: 'Corinthia', cursive;
    color: black;
    margin-bottom: 10px;
  }

  &__bean {
    font-size: 1.0rem;
    margin-left: 10px;
    font-family: serif;
  }

  &__tool {
    font-size: 0.7rem;
    margin-bottom: 15px;
  }

   &__roast {
    font-size: 0.7rem;
    margin-left: 5px;
  }


  &__user-name {
    font-size: 0.7rem;
  }

  &__date {
    margin-left: auto;
    width: 38%;
    font-size: 0.8rem;
    margin-top: 10px;
  }


  &__search-bar {
    width: 26%;
  }

  &__search-heading {
    margin-bottom: 10px;
    @include heading-border;
  }

   &__search-field {
     width: 100%;
     background: #fff;

  }


  &__search-btn {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-top: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(133, 45, 15, 0.8);

    &:hover {
      background-color: rgba(133, 45, 15, 1);
    }
  }

  &__search-sub-tit {
    @include heading-border;
  }

  &__search-link {
    display: block;
    color: #432;

    &:hover {
      color:  #cf6032;
    }
  }

  &__alert {
    color: red;
  }
}



@media screen and (max-width: 1024px) {
   .recipe-contents {
     &__header-heading {
       display: none;
     }

     &__items {
       width: 45%;
     }
   }
 }


 @media screen and (max-width: 768px) {
   .recipe-contents {
     padding-bottom: 200px;

     &__items {
       width: 75%;
     }
   }
 }


@media screen and (max-width: 425px) {
  .recipe-contents {
    overflow: hidden;
    display: block;
    padding-bottom: 250px;


    &__search-icon-wrapper {
      display: block;
      z-index: 10;
      color: #fff;
      font-size: 1.5rem;
      position: absolute;
      top: -50px;
      left: -160px;
    }

    &__header-heading {
      display: none;
    }

    &__wrapper {
      margin: 0 auto;
      width: 90%;
    }

    &__main {
      display: flex;
      flex-direction: column;
    }

    &__items {
      width: 100%;
      text-align: center;
    }

    &__items-wrapper {

    }

    &__search-bar {
      width: 50%;
      background: #fff;
      text-align: left;
      height: 960px;
      padding: 5px;
      z-index: 999;
      position: absolute;
      top: 66px;
      right: 0px;
      transform: translate(300px);
      transition: all .5s;
      }

    &__search-bar.active {
      transform: translate(0);
    }
  }
}
