@import 'variables';

.recipe-rank-items {
  background: #fff;
  width: 95%;
  padding-bottom: 10px;
  margin-bottom: 30px;



  &__title-wrapper {
    @include flex-space;
    padding: 10px;
  }

  &__title {
    @include heading-border;
    padding-right: 5%;
    display: inline-block;
    font-family: serif;
  }

  &__link-wrapper {
    height: 40px;
    line-height: 40px;
  }

  &__link {
    color: #fff;
    background: #d5b258;
    padding: 0 10px;
    border-radius: 20px;
    vertical-align: middle;
  }

  &__contents-wrapper {
     display: flex;
     justify-content: space-around;
  }

  &__items {
    width: 30%;
    height: 420px;
    background: #fff;
    position: relative;
    color: #797a7e;
    position: relative;
    transition: all 0.5s;
  }

  &__items-1 {

     &:hover {
      color: #fff;
      background-color: rgba(224, 214, 14, 0.5);
    }
  }

  &__items-2 {
    &:hover {
      color: #fff;
      background-color: rgba(120, 115, 115, 0.5);
    }

  }

  &__items-3 {
    &:hover {
      color: #fff;
      background-color: rgba(180, 90, 3, 0.4);
    }
  }


  &__favorite-btn {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__recipe-img {
    width: 100%;
    height: 230px;
    border-radius: 0 50px 0 50px;
  }


  &__user-img {
    position: absolute;
    top: 200px;
    left: 70%;
    width: 60px;
    height: 62px;
    border-radius: 50%;
}

  &__items-container {
    width: 80%;
    margin: 20px auto 0;
  }

  &__bean-tit {
    font-size: 1.9rem;
    font-family: 'Corinthia', cursive;
    color: black;
    margin-bottom: 10px;
  }

  &__bean {
    font-size: 1.0rem;
    margin-left: 10px;
    font-family: serif;
  }

  &__tool-icon-wrapper {
    @include flex-space;
  }

  &__coffee-details {
    width: 70%;
  }


  &__tool {
    font-size: 0.7rem;
  }

   &__roast {
    font-size: 0.7rem;
    margin-bottom: 15px;
  }

   &__user-name {
    font-size: 0.8rem;
    margin-left: 5px;
  }

  &__rank-icon {
     width: 20%;
  }

  &__rank-icon-1 {
    color: gold;
    position: relative;
    font-size: 2.6rem;
    margin-left: auto;

  }

  &__number {
    position: absolute;
    top: 28px;
    left: 15px;
    color: #8d8d8a;
    font-size: 1.3rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 20px;
  }

   &__rank-icon-2 {
     color: grey;
     position: relative;
     font-size: 2.6rem;
     margin-left: auto;
   }

   &__rank-icon-3 {
     color: #b65b03;
     position: relative;
     font-size: 2.6rem;
     margin-left: auto;
   }
 }

@media screen and (max-width: 1024px) {
  .recipe-rank-items {
    &__roast {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .recipe-rank-items {
    &__contents-wrapper {
      & .recipe-rank-items__items:nth-last-of-type(1) {
        display: none;
      }
    }

    &__items {
      width: 45%;
    }
  }
}

@media screen and (max-width: 768px) {
  .recipe-rank-items {
    width: 95%;

    &__items {
      width: 48%;
    }

    &__user-img {
      left: 60%;
      width: 48px;
      height: 50px;
    }
  }
}