@import 'variables';

.reset-password {
    min-height: 90vh;
    background: #6b5750;
    padding: 60px 60px 500px;



  &__form {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8% 2%;
    text-align: center;
    background-color: #fff;
  }

  &__heading {
    @include heading-border;
    margin-bottom: 30px;
    padding-right: 0;
    display: inline-block;
  }

  &__field {
    margin-bottom: 10px;
  }

  &__input {
    border-radius: 10px;
    border: solid 2px #432;
    width: 60%;
    height: 35px;
    @include focus;
  }

  &__submit {
    color: #fff;
    padding: 10px 40px;
    background: #6d3c0a;;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    width: 60%;

    &:hover {
      color: #6d3c0a;
      background: #fff;
    }
  }
}

@media screen and (max-width: 1024px) {
  .reset-password {
    min-height: 70vh;
    background: #6b5750;
    padding: 130px 60px 500px;


    &__form {
      width: 60%;
    }
  }
}

@media screen and (max-width: 768px) {
  .reset-password {
    min-height: 80vh;
    &__form {
      width: 90%;
    }
  }
}



@media screen and (max-width: 425px) {
  .reset-password {
    padding: 50px 10px 300px;

    &__form {
      width: 100%;
    }

    &__input {
      width: 100%;
    }

    &__submit {
      width: 100%;
    }
  }
}
