@import 'variables';

.confirmation {
  min-height: 100vh;
  background: #6b5750;
  padding: 120px 60px 500px;



  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10% 5%;
    text-align: center;
    background-color: #fff;
    width: 60%;
  }


  &__text:nth-child(1) {
    font-size: 2rem;
    color: #757171;
    font-weight: bold;
  }

  &__text:nth-child(2) {
    color: red;

  }

  &__btn-wrapper {
    width: 80%;
    margin: 100px auto 0;
    text-align: center;

  }


  &__destroy-btn {
    color: #fff;
    background-color: rgba(222, 19, 19, 0.8);
    padding: 1% 5%;
    display: block;
    margin-bottom: 20px;
    border-radius: 30px;

    &:hover {
      background-color: rgba(222, 19, 19, 1.0);
    }
  }

  &__back-btn {
    color: #fff;
    background-color: rgba(32, 59, 140, 0.8);
    padding: 1% 5%;
    display: block;
    border-radius: 30px;

     &:hover {
      background-color: rgba(32, 59, 140, 1.0);
    }
  }
}

@media screen and (max-width: 1024px) {
  .confirmation {
    min-height: 70vh;
  }

}

@media screen and (max-width: 768px) {
  .confirmation {
    padding-bottom: 300px;


    &__wrapper {
      width: 100%;
    }
  }

}

@media screen and (max-width: 425px) {
  .confirmation {
    padding: 60px 15px 300px;

    &__wrapper {
      width: 90%;
      padding: 10% 0;
    }

    &__btn-wrapper {
      width: 90%;
    }
  }

}




