<% if model.errors.any? %>
  <div class="error">
    <h4 class="error__heading"><%= model.errors.count %> 件のエラーがあるため保存できませんでした。</h4>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class="error__message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>